<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">
      

			<h1>New Service</h1>

			<%= render 'form' %>

			<%= link_to 'Back', services_path %>

		</div>
	</div>
</div>